<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.s3.mergewhat.market.query.mapper.MarketQueryMapper">

    <resultMap id="MarketDTOMap" type="com.s3.mergewhat.market.command.application.dto.MarketDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="field" column="field"/>
    </resultMap>

    <select id="selectMarketById" resultMap="MarketDTOMap" parameterType="long">
        SELECT
            id,
            name,
            field
        FROM market
        WHERE id = #{id}
    </select>

    <select id="selectMarketsByName" resultMap="MarketDTOMap">
        SELECT
            id,
            name,
            field
        FROM market
        WHERE name LIKE #{name}
        ORDER BY id
    </select>

</mapper>
