<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.s3.mergewhat.mypage.query.mapper.QueryUserMapper">

    <select id="findUserProfile" resultType="com.s3.mergewhat.member.command.domain.vo.response.ResponseUserProfileVO">
        SELECT
            id,
            email,
            nickname,
            profile_url AS profileUrl
        FROM member
        WHERE id = #{userId}
    </select>

    <select id="findMyPosts" resultMap="PostWithImagesResultMap">
        SELECT
            p.id,
            p.user_id,
            p.title,
            p.content,
            p.created_at,
            p.board_type,
            pi.id AS image_id,
            pi.postImage_url
        FROM post p
                 LEFT JOIN post_image pi ON p.id = pi.post_id
        WHERE p.user_id = #{userId}
        ORDER BY p.created_at DESC
    </select>

    <resultMap id="PostWithImagesResultMap" type="com.s3.mergewhat.post.command.domain.vo.ResponsePostVO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="boardType" column="board_type"/>
        <collection property="imageUrls" javaType="java.util.List" ofType="java.lang.String">
            <result column="postImage_url"/>
        </collection>
    </resultMap>

    <resultMap id="StoreReviewWithImagesResultMap" type="com.s3.mergewhat.storereview.command.domain.vo.ResponseStoreReviewVO">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="storeId" column="store_id"/>
        <result property="rating" column="rating"/>
        <result property="comment" column="comment"/>
        <result property="createdAt" column="created_at"/>
        <collection property="imageUrls" javaType="java.util.List" ofType="java.lang.String">
            <result column="image_url"/>
        </collection>
    </resultMap>

    <select id="findMyReviews" resultMap="StoreReviewWithImagesResultMap">
        SELECT
            sr.id,
            sr.user_id,
            sr.store_id,
            sr.rating,
            sr.comment,
            sr.created_at,
            ri.image_url
        FROM store_review sr
        LEFT JOIN review_image ri ON sr.id = ri.review_id
        WHERE sr.id = #{userId}
        ORDER BY sr.created_at DESC
    </select>

</mapper>
